/data_ms/node_modules/
/data_ms/dist/
/data_ms/package-lock.json

/my_utils/node_modules/
/my_utils/apackage-lock.json

/node_modules/
/dist/
/package-lock.json

/zip
/images
/.vs
/.git
*.zip
*.jpg
*.jpeg
*.png
*.exe
